body {
	width: 100%;
	margin: 0 auto; white;
	text-align:center;
	background-image: url(Afbeelding/lightbluebackground.png);
	background-size: cover;
}
	
#content {
	overflow: auto;
	height: 100%;}
	
#nav, #footer {
	border: solid #33ccff;
	border-radius: 20px 20px 20px 20px;
	color: #33ccff;
	padding: 0.2em;
	margin: 0.6em;
}

a:link {
    color:  black;
}


a:visited {
    color: #33ccff;
}
h1 {
	font-size: 3.0em;
}


h4 {
	text-align: center;
	font-size: 1.5em;
	padding-left: 0.9em;
	padding-right: 0.9em;
	margin-bottom: 1px;
	margin-top: 1px;

}

#feature {
	border: solid #33ccff;
	color: #33ccff;
	border-radius: 4em 4em 4em 4em;
	padding-left: 0.6em;
	margin-left: 25%;
	margin-right: 25%;
}
	
li{ 
	display: inline;
	padding: 5px}

.Script {
	text-decoration: underline;

}

 #Etalage{
	height: 30%;
	width: 65%;
	margin-left:18%;
	border-style:solid;
	border-color: #44ccff;
	border-width: 0em 0.5em 0em 0.5em;
	padding:0.5em;
}